@font-face {
    font-family: captionFont;
    src: url(../fonts/Pacifico-Regular.ttf);
}
#emailList {
    table-layout: fixed;
    overflow: auto;
}

#emailView {
    table-layout: fixed;
    overflow: hidden;
}

#subject {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#from {
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#message {
    padding-top: 40px;
}

#emailLabel {
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#emailBody {
    max-width: 100%;
    overflow: auto;
}

#backDiv {
    padding-bottom: 30px;
}

.container {
    padding-top: 90px;
    padding-left: 0px;
    padding-right: 0px;
    width: 800px;
    overflow: auto;
}

#navBar {
    position: relative;
    height: 230px;
    overflow-x: auto;
    overflow-y: scroll;
    border-bottom: 3px solid #eee;
    width: 175px;
    padding-left: 15px;
    font-size: 12px;
    margin-top: 50px;
}


#messages {
    margin-left: 0px;
}

#mailbox {
    margin-top: 10px;
}

#emailTo {
    overflow: auto;
    max-height: 100px;
}

#yearicon {
    height: 20px;
    width: 20px;
}

#message {
    padding: 20px;
}

#gmailButton {
    float: right;
}

#caption {
    font-family: captionFont;
}

#logo {
    height: 65px;
    width: 75px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#divider {
    opacity: 0.7;
    font-size: 40px;
    font-weight: 300;
}

#head {
    background-color: #D5473B;
    color: white;
    padding: 0px;
    position: fixed;
    width: 100%;
    z-index: 2;
    height: 90px;
    top: 0px;
    left: 0px;
}

#messageList {
    float: right;
    padding: 0px;
    border-left: 1px solid #eee;
}

.badge {
    border-radius: 4px;
    background-color: #D5473B;
}

#home {
    font-size: 10px;
    position: relative;
    width: 175px;
    padding: 20px;
    max-height: 100px;
    overflow: auto;
    padding-top: 25px;
}

#recCount,
#sentCount {
    color: #D5473B;
    font-weight: bold;
}

#byYear {
    width: 200px;
    margin: 0 auto;
}

#viewEmailsButton {
    background-color: #D5473B;
    outline: none !important;
}

#importantCheck {
    margin-left: 10px;
    font-size: 12px;
}

#impText {
    padding-left: 2px;
    font-weight: 200;
    font-size: 12px;
}

#labelName {
    float: right;
    font-weight: 200;
    font-size: 12px;
    margin-right: 15px;
}

.footer {
    position: fixed;
    bottom:5px;
    font-size: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
    width: 175px;
    line-height: 0.6;
}

#newDay {
    position: relative;
    width: 175px;
    margin-top: 10px;
}

#dateSelector {
    position: fixed;
    font-size: 10px;
    width: 175px;
    text-align: center;
    display: none;
}

#goButton {
    padding-left: 4px;
}

.leftDiv {
    width: 175px;
    float: left;
    position:fixed;
    overflow: scroll;
}

.rightDiv {
    width: 625px;
    float: right;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:none;
}

#authMessage {
    position: fixed;
    height: 100%;
    display:none;
}

#authView {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 350px;
    height: 150px;
    margin: -75px 0 0 -75px;
    font-size: 18px;
    color:#D5473B;
    text-align: center;
}

#authDisclaimer {
    width: 600px;
    height: 150px;
    display: block;
    position: relative;
    left: 20%;
    top: 80%;
    text-align: center;
    color: black;
    font-size: 10px;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #D5473B;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #D5473B;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #D5473B;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

#loaderText {
    display: block;
    position: relative;
    left: 45%;
    top: 70%;
    width: 350px;
    height: 150px;
    margin: -75px 0 0 -75px;
    font-size: 24px;
    font-weight: 500;
    color:#D5473B;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}